// media queries pour ordis, >1024px

@media only screen and (min-width: 1024px) {
   
    .localisation {
        width: 40%;
        margin: 30px auto;
        border-radius: 15px;
      }

      .fonct-btns {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      .btn {
        width: 30%;
        margin: 10px;
      }

      .resto-cards {
        display: flex;
        justify-content:space-around;
        flex-wrap: wrap;
      }

      .cards-bloc {
        width: 40%;
        // margin: 10px;
      }

      figure {
        width: 80%;
        height: 300px;
        img {
            height: 80%;
          }
      }

      .menu-cards{

        // font-size: 19px;
        justify-content:space-around;
        
      }

      .menu-card {
        margin: 15px 10px; // rajoute espace horizontale entre les items de menu
    }
    
    footer {
        display: flex;
        justify-content:left;
        align-items: center; // aligner verticalement
        height: 100px;
        // flex-wrap: wrap;
      }

    .footerlinks {

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
      }

    }