// media queries pour ordis, >1024px

@media only screen and (min-width: 1024px) {
   
  // centrer localisation et modifier le visuel
    .localisation {
        width: 40%;
        margin: 30px auto;
        border-radius: 15px;
      }

        //aligner les boutons fonctionnement
      .fonct-btns {
        @include alignXY(flex, center, normal);
        flex-wrap: wrap;
      }

      .fonct-btn {
        width: 30%;
        margin: 10px;
      }

      // rendre les cards des restos flex
      .resto-cards {
        @include alignXY(flex, space-around, normal);
        flex-wrap: wrap;
      }

      .cards-bloc {
        width: 40%;
      }

      figure {
        width: 80%;
        height: 300px;
        margin-bottom: 40px;
        img {
            height: 80%;
          }
      }

      .menu-cards{
        justify-content:space-around;
        
      }

      .menu-card {
        margin: 15px 10px; 
        // rajoute espace horizontale entre les items de menu
    }
    
    //aligner les éléments du footer
    footer {
      // aligner à gaucher et centrer verticalement
      @include alignXY(flex, left, center); 
      height: 100px;
      }

    .footerlinks {

      @include alignXY(flex, center, normal);
      flex-wrap: wrap;
        
      }

    }