// header

header {
    text-align: center; /*centrer tous 
      les éléments du header sur le corps de page*/
    background-color: $lightgrey-color;
    margin-bottom: 50px;

    img {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  
    /*border: 2px solid blue;*/
  }