// media queries pour tablettes, >767px <1024px

@media only screen and (min-width: 755px) and (max-width: 1024px) {
   
  // centrer localisation et modifier le visuel
    .localisation {
        width: 40%;
        margin: 30px auto;
        border-radius: 15px;
      }

      //rendre boutons fonct flex
      .fonct-btns {
        @include alignXY(flex, center, normal);
        flex-wrap: wrap;
      }

      .fonct-btn {
        width: 40%;
        margin: 10px;
      }

      figure {
        width: 80%;
        height: 300px;
        img {
            height: 80%;
          }
      }

      //centrer éléments footer
      footer {
        @include alignXY(flex, center, normal);
      }

      .menu-card {
        margin: 15px 10px; // rajoute espace horizontale entre les items de menu
    }
    }