// media queries pour tablettes, >767px <1024px

@media only screen and (min-width: 755px) and (max-width: 1024px) {
   
    .localisation {
        width: 40%;
        margin: 30px auto;
        border-radius: 15px;
      }

      .fonct-btns {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      .btn {
        width: 40%;
        margin: 10px;
      }

      figure {
        width: 80%;
        height: 300px;
        img {
            height: 80%;
          }
      }

      footer {
        display: flex;
        justify-content: center;
        // flex-wrap: wrap;
      }

      .menu-card {
        margin: 15px 10px; // rajoute espace horizontale entre les items de menu
    }
    }