// styles des boutons

.btn-action {
    height: 50px;
    width: 220px;
    border-radius: 30px;
    border: none;
    background: transparent; //pour afficher le pseudo élément en dessous du bouton
    overflow: hidden; //pour que le pseudo élément soit caché si hors du périmètre du bouton
    color: white;
    box-shadow: 2px 5px 2px $mediumgrey-color; //effet d'ombre sur le bouton
    cursor: pointer; // curseur indique un lien
    position: relative; // pour placer pseudo élément
    z-index: 0;// pour que le bouton s'affiche devant le pseudo élément
    transition: all 0.5s; //transition de 0.5s entre tous les états de l'élément

    &::after {
      content: ""; //pour générer le pseudo élément
      height: 250px;
      width: 300px;
      background: linear-gradient($second-color,$first-color); //dégradé entre deux couleurs en fond
      position: absolute; // pour placer le pseudo élément
      top: -120px;
      left: -40px;
      z-index: -1; // pour que le pseudo élément s'affiche derrière le bouton
      transition: all 0.5s;//transition de 0.5s entre tous les états de l'élément
    }

    //effet au survol du pseudo élément
    &:hover::after {
      transform: rotate(160deg); //rotation pour effet changement de couleur
    }

    // effets au survol du bouton
    &:hover {
      transform: scale(1.1); //effet grossissant 
      box-shadow: 10px 15px 2px $mediumgrey-color; //augmentation de l'ombre
    }

  }

  .fonct-btn{
    height: 75px;
    width: 100%;
    border-radius: 30px;
    border: none;
    background-color: $lightgrey-color;
    text-align: left;
    margin-bottom: 20px;
    &:hover {
      background-color: $lightpink-color; //couleur au survol
    }
    
    &:hover i.icon-over {
      display: initial; //effet beat sur l'icone au survol
    }
    
    &:hover i.icon-default {
      display: none; 
    }
  }
  
  i.icon-over {
    display: none;
  }