// boutons

.btn-action {
    height: 50px;
    width: 220px;
    border-radius: 30px;
    border: none;
    background: transparent;
    overflow: hidden;
    color: #fff;
    box-shadow: 2px 5px 2px #eaeaea;
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: all 0.5s;

    &::after {
      content: "";
      height: 250px;
      width: 300px;
      background: linear-gradient($second-color,$first-color);
      position: absolute;
      top: -120px;
      left: -40px;
      z-index: -1;
      transition: all 0.5s;
    }

    &:hover::after {
      transform: rotate(160deg);
    }

    &:hover {
      /* transform: translate(0, -3px) scale(1.1); */
      transform: scale(1.1);
      box-shadow: 10px 15px 2px #eaeaea;
    }

  }

  .btn {
    height: 75px;
    width: 100%;
    border-radius: 30px;
    border: none;
    background-color: #f6f6f6;
    text-align: left;
    margin-bottom: 20px;
    &:hover {
      background-color: #f5edff;
    }
    
    &:hover i.icon-over {
      display: initial;
    }
    
    &:hover i.icon-default {
      display: none;
    }
  }
  
  i.icon-over {
    display: none;
  }