//styles des icones

.circle {
    border-radius: 50%;
    padding: 1px 6px;
    background-color: $first-color;
    position: relative;
    left: -15px; /*pour décaler cercle sur la gauche*/
  }

  // Ruban Nouveau sur card
  .cardNew {
    @include alignXY; //pour alignement horizontal et vertical du contenu
    width: 100px;
    height: 40px;
    background-color: $third-color;
    color: $third-color-darker;
    font-weight: 500;
    position: absolute; //pour placer ruban sur la card
    right: 15px;
    top: 15px;
  }


  .fa-heart {
    float: right; //positionner coeur à droite
  }
  
  .hearts {
    float: right;//positionner coeur à droite
    margin-right: 20px; //marge à droite
    &:hover i.heart-fill {
      display: initial; //coeur rempli visible
      animation: showFill 800ms ease-in-out both; //animation remplissage coeur au survol
    }
    &:hover i.heart-default {
      display: none; //coeur non visible
    }
  }
  
  i.heart-fill {
    color: $first-color;
    display: none;// hors survol coeur rempli non visible
  }

  //icone fleche retour sur page restaurant
  .fa-arrow-left{
    margin-left: 20px;
    float: left;
  }