// styles pour la page d'accueil

h1 {
    font-size: 30px;
  }
  
  .localisation {
    height: 50px;
    background-color: $mediumgrey-color;
    border: 1px solid $mediumgrey-color;
    box-shadow: inset 0px 2px 3px #d5d5d5;
    display: flex;
    align-items: center; /*pour aligner verticalement icone/texte */

    div {
      margin: auto; /*pour aligner horizontalement icone/texte */
    }

    span {
      font-weight: initial;
    }

  }
  
  .presentation {
    padding-bottom: 55px;
  
    /*border: 2px solid blue;*/
  }
  .presentation {
    margin: 0 auto; /*centrer le corps de page*/
    width: 80%; /* ne prend pas 
      toute la largeur de l'écran*/
  
    /*border: 2px solid blue;*/
  }
  
  .fonct-cards,
  .resto-cards {
    margin: 0 auto; /*centrer le corps de page*/
    width: 90%; /* ne prend pas 
      toute la largeur de l'écran*/
  }
  
  .fonctionnement {
    padding-bottom: 40px;
  }
  
  .restaurants {
    background-color: $lightgrey-color;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .cardlink {
    height: 100%; /*pour que toute la card soit 
      clicable en lien*/
  }
  
  .figtitle {
    font-weight: bolder;
  }
  
  figure {
    margin: 0 auto; /*centrer dans le container*/
    width: 100%;
    height: 250px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px; /*espace entre chaque card*/
    padding-bottom: 10px;
    box-shadow: 2px 2px 2px #deebff; /*léger effet ombre derrière la card*/

    img {
      height: 75%;
      width: 100%; /*image centrée sur la card*/
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      object-fit: cover; /*pour que l'image ne se déforme pas*/
    }

  }
  
  .figcaption {
    line-height: 1.3;
    margin-top: 5px; /* léger décalage du texte 
      vers le bas*/
    margin-left: 10px; /* léger décalage du texte 
      sur la droite*/
  }