// functions

@keyframes flip-vertical-right {
    0% {
      transform: rotateY(0);
    }
    100% {
      transform: rotateY(180deg);
    }
  }

  @keyframes load-out {
    from {
      /* top: 0; */
      opacity: 1;
    }
  
    to {
      /* top: 100%; */
      opacity: 0;
      z-index: -100;
    }
  }

  @keyframes showFill {
    from {
      opacity: 0;
      color: $second-color;
    }
    to {
      opacity: 1;
      color: $first-color;
    }
  }
  
  @keyframes fade_in_show {
    0% {
         opacity: 0;
         /* transform: scale(0) */
    }

    100% {
         opacity: 1;
         /* transform: scale(1) */
    }
}