// mixins

@mixin alignXY ($display: flex, $content: center, $items: center ) {
    display: $display; //type de display
    justify-content: $content; //alignement horizontal
    align-items: $items;//alignement vertical
}

