// variables

$font-family: "Roboto", sans-serif;
$font-size: 18px;
$font-color: #101010;
$first-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$mediumgrey-color: #eaeaea;
$lightgrey-color: #f6f6f6;
$darkgrey-color: #353535;
